* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-transform: capitalize;
  
}

body {
   overflow-x: hidden;
   background-color: rgb(16, 16, 16) !important;
   color: white !important;

}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    
}

img {
    max-width: 100%;
}
