* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-transform: uppercase;
}

body {
    overflow: hidden;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
